.restaurantsCard {
  align-items: flex-start;
  background-color: #eca72c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 1em;
  width: 300px;
}

.restaurantList {
  align-items: center;
  background-image: url("./restaurantes1.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tittleList {
  color: aliceblue;
  text-align: center;
  width: 100%;
}
