.restaurantProfile{
  background-color: #ECA72C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  margin: 5% 40%;
  width: 355px;
  height: 100%;
}

@media only screen and (max-width: 675px) {
  .restaurantProfile{
    margin: 10%;
  }
}

@media only screen and (max-width: 482px) {
  .restaurantProfile{
    margin: 1%;
  }
  .tittleProfile{
    margin: 5%;
  }
}

.tittleProfile{
  display: flex;
  justify-content: center;
}

.inputsProfile{
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
}

.dateProfile{
  font-weight: bold;
}

.backgroundImage{
  background-image: url('./restaurantes1.png');
  display: flex;
  flex-direction: column;
  /* background-repeat: no-repeat; */
}

.createOrder{
  background-color: #ECA72C;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  margin: 5% 30%;
  width: 700px;
  height: 100%;
}

.inputsCreateOrder{
  display: flex;
  flex-direction: column;
}
