.header{
  background-color: #ECA72C;
  display: flex;
  width: 100%;
}

.headerButtons{
  background-color: #ECA72C;
  padding: 30px;
  font-family: 'Helvetica';
  font-size: 18px;
  color:aliceblue;
}

.logo{
  display: flex;
}

.positionLogo{
  width: 50%;
}

.positionButtons{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}