.signup{
  background-color: #ECA72C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  margin: 10% 45%;
  width: 260px;
  height: 20%;
}

@media only screen and (max-width: 518px) {
  .signup{
    margin: 5%;
  }
}

.inputsSignUp{
  margin: 10%;
  display: flex;
  flex-direction: column;
}

.backgroundImage{
  background-image: url('../RestaurantsList/restaurantes1.png');
  /* background-repeat: no-repeat; */
}