.SignIn .signInContainer {
  display: flex;
  justify-content: center;
  margin: 15%;
}

.SignIn .form {
  background-color: #eca72c;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 348px;
}

.SignIn .form input {
  display: block;
  margin-bottom: 1em;
  width: 100%;
}

@media only screen and (max-width: 579px) {
  .SignIn .form {
    margin: 1%;
  }
}
.SignIn .inputsProfile {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.SignIn .backgroundImage {
  background-image: url("../RestaurantsList/restaurantes1.png");
  min-height: 100vh;
}
